beautifulsoup4==4.9.3
boto3==1.18.36
botocore==1.21.36
bs4==0.0.1
certifi==2021.5.30
chardet==4.0.0
cronitor==4.2.1
docutils==0.17.1
gitdb2==4.0.2
GitPython==3.1.20
idna==3.2
jmespath==0.10.0
joblib==1.0.1
Markdown==3.3.4
nltk==3.6.2
numpy==1.21.2
python-dateutil==2.8.2
python-frontmatter==1.0.0
PyYAML==5.4.1
requests==2.26.0
s3transfer==0.5.0
scikit-learn==0.24.2
scipy==1.7.1
six==1.16.0
smmap2==3.0.1
soupsieve==2.2.1
urllib3==1.26.6
